@model Botanio_MVC.Models.Plant

@{
    ViewData["Title"] = "Plant";
}

<div class="container-fluid py-5">
    <div class="align-end" style="margin-bottom:3rem;">
        <a href="/form/plant/@Model.PlantId" class="btn btn-primary" style="margin-right: 1rem;">Edit</a>
        <button onclick="fetchDeletePlant(@Model.PlantId)" class="btn btn-danger">Delete</button>
    </div>



    <div class="row align-items-center g-0">
        <div class="col-md-6 left-side">
            <img src="/img/@Model.ImageUrl" alt="Couldn't load @Model.ImageUrl" class="img-fluid">
        </div>
        <div class="col-md-6" style="padding-left: 4rem;">
            <h2 style="font-size:2rem; font-weight:600;">@Model.Name</h2>
            <h3 style="font-size: 1.5rem; color: #BFBFBF; font-style:italic">@Model.Species.ScientificName</h3>
            <div class="mb-3">
                <span class="info-tags">@Model.Habitat.Climate</span>
                <span class="info-tags">@Model.Habitat.Location</span>
            </div>
            <p style="color: #E6E6E6;">@Model.Description</p>
            <div class="mb-3">
                <span class="care-icons">&#128167;</span> @Model.CareInstructions.WateringInstructions
            </div>
            <div class="mb-3">
                <span class="care-icons">&#9728;</span> @Model.CareInstructions.SunlightInstructions
            </div>
            <div class="mb-3">
                <span class="care-icons">🌡️</span> @Model.CareInstructions.TemperatureRangeLow °C - @Model.CareInstructions.TemperatureRangeHigh °C
            </div>
            <div>
                <span class="care-icons">✂️</span> @Model.CareInstructions.PruningInstructions
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function fetchDeletePlant(plantId) {
            console.log("Deleting" + plantId);

            // DELETE: /delete/plant/:id
            fetch(`/delete/plant/${plantId}`, {
                method: 'DELETE',
            })
                .then(response => response.text())
                .then(data => {
                    window.location.href = "/";
                })
                .catch((error) => {
                    console.error('Error:', error);
                });

        }
    </script>
}