@model Botanio_MVC.Models.ViewModels.FormData


<div class="container mt-5">
    <h2>Plant Form</h2>
    @* Send a POST request to /form/plant, or maybe use the ASP.NET core way to specify that it is FormController.cs -> AddPlant method *@
    <form asp-controller="Form" asp-action="AddPlant" method="post">
        <div class="form-group">
            <label for="plantId">Plant ID</label>
            <input type="number" class="form-control" id="plantId" name="plantId" value="@Model.Plant.PlantId">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="@Model.Plant.Name">
        </div>
        <div class="form-group">
            <label for="scientificName">Scientific Name</label>
            <input type="text" class="form-control" id="scientificName" name="scientificName" value="@Model.Plant.ScientificName">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description">@Model.Plant.Description</textarea>
        </div>
        <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input type="text" class="form-control" id="imageUrl" name="imageUrl" value="@Model.Plant.ImageUrl" />
        </div>
        <div class="form-group">
            <label for="speciesId">Species</label>
            <select class="form-control" id="speciesId" name="speciesId">
                <!-- Options will be loaded here based on available species -->
                @foreach (var species in Model.AllSpecies)
                {
                    @if(species.SpeciesId == Model.Plant.SpeciesId)
                    {
                        <option value="@species.SpeciesId" selected>@species.ScientificName</option>
                    }
                    else
                    {
                        <option value="@species.SpeciesId">@species.ScientificName</option>
                    }
                }
                <!-- Add other species options here -->
                <option value="new">+ Add new species</option>
            </select>
        </div>
        <div class="form-group">
            <label for="habitatId">Habitat</label>
            <select class="form-control" id="habitatId" name="habitatId">
                @foreach (var habitat in Model.AllHabitats)
                {
                    @if(habitat.HabitatId == Model.Plant.HabitatId)
                    {
                        <option value="@habitat.HabitatId" selected>@habitat.Name</option>
                    }
                    else
                    {
                        <option value="@habitat.HabitatId">@habitat.Name</option>
                    }
                }

                <!-- Add other habitat options here -->
                <option value="new">+ Add new habitat</option>
            </select>
        </div>
        <div class="form-group">
            <label for="careInstructionsId">Care Instructions</label>
            <select class="form-control" id="careInstructionsId" name="careInstructionsId">
                @foreach (var careInstructions in Model.AllCareInstructions)
                {
                    @if(careInstructions.CareInstructionsId == Model.Plant.CareInstructionsId)
                    {
                        <option value="@careInstructions.CareInstructionsId" selected>@careInstructions.Name</option>
                    }
                    else
                    {
                        <option value="@careInstructions.CareInstructionsId">@careInstructions.Name</option>
                    }
                }

                <!-- Add other care instructions options here -->
                <option value="new">+ Add new care instructions</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
